.env

config/.cache/
config/.cline/
config/.local/
config/.ssh/

config/extensions/
!config/extensions/.gitkeep

config/workspace/
!config/workspace/.gitkeep

config/data/*
!config/data/User/
config/data/User/*
!config/data/User/settings.json

repos/*
!repos/.gitkeep

vsix/*
!vsix/.gitkeep
