TZ=Etc/UTC
CODE_SERVER_BIND_IP=127.0.0.1
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=127.0.0.1,localhost
CODE_SERVER_PORT_SHIV=8443
CODE_SERVER_PORT_DEV=8444
CODE_SERVER_PORT_QA=8445
CODE_SERVER_HASHED_PASSWORD_SHIV=
CODE_SERVER_HASHED_PASSWORD_DEV=
CODE_SERVER_HASHED_PASSWORD_QA=
